{% load cardLayout %}
{% load replaceValues %}
<form method="post">
    {% if deck_obj is "new" %}
    <div class="deckHead">
        <label for="deck_name_field_new">Name:</label>
        <!-- Determining the value of the deck and whether it should translate. -->
        <input class="deckValue {{ font_family }}" id="deck_name_field_new" name="deck_name_field"
                type="text">


        <label class="deck_type_field_new">Deck Type:</label>
        <!-- Determining the value of the deck and whether it should translate. -->
        <select class="deckValue {{ font_family }}" id="deck_type_field_new" name="deck_type_field">
            {% for deck_type in deck_types %}
                <option value="{{ deck_type.id }}">{{ deck_type.desc }}</option>
            {% endfor %}
        </select>

        <label class="deck_description_field_new">Description:</label>
        <!-- Determining the value of the deck and whether it should translate. -->
        <input class="deckValue {{ font_family }}" id="deck_description_field_new" name="deck_description_field"
                type="textarea">
        </div>
    {% else %}
    <div class="deckHead">
        <label for="deck_name_field">Name:</label>
        <!-- Determining the value of the deck and whether it should translate. -->
        <input class="deckValue {{ font_family }}" id="deck_name_field" name="deck_name_field"
                type="text" value="{{ deck_obj.name }}">


        <label class="deck_type_field">Deck Type:</label>
        <!-- Determining the value of the deck and whether it should translate. -->
        <select class="deckValue {{ font_family }}" id="deck_type_field" name="deck_type_field">
            {% for deck_type in deck_types %}
            {% if deck_obj.deck_type is deck_type %}
                <option value="{{ deck_type.id }}" selected>{{ deck_type.desc }}</option>
            {% else %}
                <option value="{{ deck_type.id }}">{{ deck_type.desc }}</option>
            {% endif %}
            {% endfor %}
        </select>

        <label class="deck_description_field">Description:</label>
        <!-- Determining the value of the deck and whether it should translate. -->
        <input class="deckValue {{ font_family }}" id="deck_description_field" name="deck_description_field"
                type="textarea" value="{{ deck_obj.description }}">
        </div>
    {% endif %}
</form>