<!--
    Values needed for deck creation.
    After deck is created allow user to add cards.
    as a card is added call JS to auto add to database
    deck_name = duh
    is_private = checkbox checked is private. default will be based on user setting passed in with context
    image_url = open new page like with select avatar on profile
    description = large text area like on card display
    deck_type : will be id passed in with name in context
    commander : can be null / Hide if commander not selected (use JS)
-->

<!-- Extends uses base_generic.html as a base, then loads the blocks within the specific html. -->
{% extends "base_generic.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css\profile_decks.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<div class="DeckBody" id="deck">
    <!-- Include takes the html in the file and pastes it into the file.  -->
    {% include "./deck_info.html" %}
    {% include "./commander.html" %}
</div>
{% endblock %}

{% block custom_scripts %}
<!-- <script src="{% static 'js\deck.js' %}"></script> -->
{% endblock %}