{% load replaceValues %}
<div>
    <hr>
    <div class="card_display">
        <div class="deck_cards">
            <h3>Cards</h3>
            <div class="edit_cards_button">
                <form action="/modify_deck?deck_id={{ deck_id }}&side=False" method="post">
                    {% csrf_token %}
                    <button class="clickable {{font_family }}"
                            onclick="show_page_load();"
                            name="modify_cards"
                            type="submit">
                        Edit Cards
                    </button>
                </form>
            </div>
            <div class="deck_cards_inner">
            {% for card_obj in deck_cards %}
                {% with card_obj|convert_to_json as card_json %}
                    <div class="cardObj">
                        <a class="cardDirection" onclick="show_page_load();" href='/Collection/card/{{ card_json.oracle_id }}/'>
                            <img alt="{{ card_json.card_name|check_safe }}" class="cardImg" src='{{ card_json.card_image }}'>
                            <div class="cardObjText {{ should_translate }}">
                                {{ card_json.quantity }} X<br>{{ card_json.card_name|check_safe }}
                            </div>
                        </a>
                    </div>
                {% endwith %}
            {% endfor %}
            </div>
            <div class="edit_cards_button">
                <form action="modify_deck?deck_id={{ deck_id }}&side=False" method="post">
                    {% csrf_token %}
                    <button class="clickable {{font_family }}"
                            onclick="show_page_load();"
                            name="modify_cards"
                            type="submit">
                        Edit Cards
                    </button>
                </form>
            </div>
        </div>
        <div class="side_cards">
            <h3>Side Board</h3>
            <div class="edit_cards_button">
                <form action="/modify_deck?deck_id={{ deck_id }}&side=True" method="post">
                    {% csrf_token %}
                    <button class="clickable {{font_family }}"
                            onclick="show_page_load();"
                            name="modify_cards"
                            type="submit">
                        Edit Sideboard
                    </button>
                </form>
            </div>
            <div class="deck_cards_inner">
            {% for card_obj in side_cards %}
                {% with card_obj|convert_to_json as card_json %}
                    <div class="cardObj">
                        <a class="cardDirection" onclick="show_page_load();" href='/Collection/card/{{ card_json.oracle_id }}/'>
                            <img alt="{{ card_json.card_name|check_safe }}" class="cardImg" src='{{ card_json.card_image }}'>
                            <div class="cardObjText {{ should_translate }}">
                                {{ card_json.quantity }} X<br>{{ card_json.card_name|check_safe }}
                            </div>
                        </a>
                    </div>
                {% endwith %}
            {% endfor %}
            </div>
            <div class="edit_cards_button">
                <form action="modify_deck?deck_id={{ deck_id }}&side=True" method="post">
                    {% csrf_token %}
                    <button class="clickable {{font_family }}"
                            onclick="show_page_load();"
                            name="modify_cards"
                            type="submit">
                        Edit Sideboard
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>