{% load static %}
{% load replaceValues %}

<div class="CommanderImage">
    <!-- If the type of deck is Commander, this function will pull the image of the commander from the respective url.
      That directory holds images of every card.-->
    <hr class="CommanderHr">
    <div class="CommanderObj">
        <h3>Commander:</h3>
        {% if commander_len > 0 %}
        {% for commander_obj in commander %}
        {% with commander_obj|convert_to_json as commander_json %}
        <!-- commander object is passed in as a json formatted string, then convert to json changes it to a json object. -->
        <img alt="{{ commander_json.card_name }}" class="CommanderImg"
             src="{{ commander_json.card_image }}">
        {% endwith %}
        {% endfor %}
        {% else %}
        <img alt="No Commander" class="CommanderImg"
             src="../../../../../static/img/generic_box.png">
        {% endif %}
        <div>
            <a class="link_objs clickable" onclick="show_page_load();" href="modify_deck/select_commander?deck_id={{ deck_id }}">Swap Commander</a>
        </div>
    </div>
</div>