{% load replaceValues %}

<h2>Decks</h2>
{% if deckShow %}
    <div class="deckFilter">
        <form action="user_profile?user_id={{user_id}}&deck_id=&deckPage={{deckPage}}&cardPage={{ cardPage }}&cardWishPage={{ cardWishPage }}" method="post">
            {% csrf_token %}
            {% if clear_deck_search %}
            <input class="{{ font_family }}" name="user_search_deck_term" type="text" value="{{ user_search_deck_term }}">
            {% else %}
            <input class="{{ font_family }}" name="user_search_deck_term" placeholder="Search" type="text">
            {% endif %}
            <input class="{{ font_family }}" name="user_search_deck" type="submit" onclick="show_page_load();" value="Search">
            {% if clear_deck_search %}
            <input class="{{ font_family }}" name="user_clear_deck_search" type="submit" onclick="show_page_load();" value="Clear Search">
            {% endif %}
        </form>
    </div>

    {% include "./deck_pager.html" %}
    <div class="deckTable" id="deckGrid">
        <div class="innerDeckTableHead">
            <div class="profile_table_head">Name</div>
            <div class="profile_table_head">Original Creator</div>
            <div class="profile_table_head">Deck Owner</div>
            <div class="profile_table_head">Mana Cost</div>
            <div class="profile_table_head">Description</div>
            <div class="profile_table_head"></div>
        </div>
        {% for deck_obj in deck_list %}
            {% with deck_obj|convert_to_json as deck_json %}
            <div class="innerDeckTable">
                <div class="profile_table {{ should_translate }}">
                    {{ deck_json.deck_name|safe }}
                </div>
                <div class="profile_table">
                    {{ deck_json.created_by }}
                </div>
                <div class="profile_table">
                    {{ deck_json.deck_user }}
                </div>
                <div class="profile_table">
                    {{ deck_json.color_id|replaceMana|safe }}
                </div>
                <div class="profile_table">
                    {{ deck_json.description|remove_bracket|check_safe }}
                </div>
                <div class="profile_table">
                    <a class="deckDirection" onclick="show_page_load();" href="/Collection/deck?deck_id={{ deck_json.deck_id }}">
                        <img alt="{{ deck_json.deck_name|safe }}" class="smallDeckImg" src="../../../{{ deck_json.image_url }}">
                    </a>
                </div>
            </div>
            {% endwith %}
        {% endfor %}
    </div>
    {% include "./deck_pager.html" %}
{% else %}
    {% if o_player %}
    <h5>No decks added to account.</h5>
    {% else %}
    <h5>No decks added to account. Visit deck Database to add decks.</h5>
    {% endif %}
{% endif %}
<!-- -1 tells it to make a new deck -->
{% if not o_player %}
    <form action="modify_deck?user_id={{ user_id }}&deck_id-1" method="get">
        {% csrf_token %}
        <button class="clickable {{ font_family }}"
                onclick="show_page_load();"
                type="submit">
            New Deck
        </button>
    </form>
{% endif %}
