{% load replaceValues %}
<h4>Decks</h4>

{% if deckShow %}
<div class="cardFilter">
    <form action="user_profile" method="post">
        {% csrf_token %}
        {% if clear_card_search %}
        <input class="{{ font_family }}" name="user_search_deck_term" type="text" value="{{ search_deck_term }}">
        {% else %}
        <input class="{{ font_family }}" name="user_search_deck_term" placeholder="Search" type="text">
        {% endif %}
        <input class="{{ font_family }}" name="user_search_deck" type="submit" value="Search">
        {% if clear_card_search %}
        <input class="{{ font_family }}" name="user_clear_deck_search" type="submit" value="Clear Search">
        {% endif %}
    </form>
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Game Type</th>
        <th>Public</th>
    </tr>
</table>
{% endif %}

<a class="colorText clickableCol" href="{% url 'modify_deck'%}">New Deck</a>

<hr>