{% load replaceValues %}

<h2>Cards</h2>
{% if cardShow %}
<div class="cardFilter">
    <form action="user_profile" method="post">
        {% csrf_token %}
        {% if clear_card_search %}
        <input class="{{ font_family }}" name="user_search_card_term" type="text" value="{{ user_search_card_term }}">
        {% else %}
        <input class="{{ font_family }}" name="user_search_card_term" placeholder="Search" type="text">
        {% endif %}
        <input class="{{ font_family }}" name="user_search_card" type="submit" onclick="show_page_load();" value="Search">
        {% if clear_card_search %}
        <input class="{{ font_family }}" name="user_clear_card_search" type="submit" onclick="show_page_load();" value="Clear Search">
        {% endif %}
    </form>
</div>

{% include "./card_pager.html" %}
<div class="cardTable" id="cardGrid">
    <div class="innerCardTableHead">
        <div class="profile_table">Name</div>
        <div class="profile_table">Quantity</div>
        <div class="profile_table">Mana Cost</div>
        <div class="profile_table">Notes</div>
        <div class="profile_table"></div>
    </div>
    {% for card_obj in card_list %}
        {% if card_obj is not '' %}
            {% with card_obj|convert_to_json as card_json %}
            <div class="innerCardTable">
                <div class="profile_table {{ should_translate }}">
                    {{ card_json.name|safe }}
                </div>
                <div class="profile_table">
                    {{ card_json.quantity }}
                </div>
                <div class="profile_table">
                    {{ card_json.mana|replaceMana|safe }}
                </div>
                <div class="profile_table">
                    {{ card_json.notes|remove_bracket|check_safe }}
                </div>
                <div class="profile_table">
                    <a class="cardDirection" onclick="show_page_load();" href="/Collection/card/{{ card_json.oracle_id }}">
                        <img alt="{{ card_json.name|safe }}" class="smallCardImg" src="{{ card_json.image_url }}">
                    </a>
                </div>
            </div>
            {% endwith %}
        {% endif %}
    {% endfor %}
</div>
{% include "./card_pager.html" %}
{% else %}
{% if o_player %}
<h5>No cards added to account.</h5>
{% else %}
<h5>No cards added to account. Visit Card Database to add cards.</h5>
{% endif %}
{% endif %}
