{% load replaceValues %}
<h2>Card Wish List</h2>
<form action="user_profile?user_id={{ user_id }}&deck_id=&deckPage={{ deckPage }}&cardPage={{ cardPage }}&cardWishPage={{ cardWishPage }}" method="post">
    {% csrf_token %}
    <button class="clickable {{ font_family }}"
                    onclick="show_page_load();"
                    name="view_all_wish"
                    type="submit">
                View All
    </button>
    {% if not o_player %}
        <button class="clickable {{ font_family }}"
                onclick="show_page_load();"
                name="bulk_add_wish"
                type="submit">
            Add Bulk
        </button>
    {% endif %}
</form>
{% if wishShow %}
<div class="cardFilter">
    <form action="user_profile?user_id={{user_id}}&deck_id=&deckPage={{deckPage}}&cardPage={{ cardPage }}&cardWishPage={{ cardWishPage }}" method="post">
        {% csrf_token %}
        {% if clear_wish_search %}
        <input class="{{ font_family }}" name="user_search_wish_term" type="text" value="{{ user_search_wish_term }}">
        {% else %}
        <input class="{{ font_family }}" name="user_search_wish_term" placeholder="Search" type="text">
        {% endif %}
        <input class="{{ font_family }}" name="user_search_wish" type="submit" onclick="show_page_load();" value="Search">
        {% if clear_wish_search %}
        <input class="{{ font_family }}" name="user_clear_wish_search" type="submit" onclick="show_page_load();" value="Clear Search">
        {% endif %}
    </form>
</div>

{% include "./wish_pager.html" %}
<div class="cardTable" id="cardGrid">
    <div class="innerCardTableHead">
        <div class="profile_table_head">Name</div>
        <div class="profile_table_head">Quantity</div>
        <div class="profile_table_head">Mana Cost</div>
        <div class="profile_table_head">Notes</div>
        <div class="profile_table_head"></div>
    </div>
    {% for card_obj in wish_list %}
        {% with card_obj|convert_to_json as card_json %}
        <div class="innerCardTable">
            <div class="profile_table {{ should_translate }}">
                {{ card_json.card_name|safe }}
            </div>
            <div class="profile_table">
                {{ card_json.quantity }}
            </div>
            <div class="profile_table">
                {{ card_json.color_id|replaceMana|safe }}
            </div>
            <div class="profile_table">
                {{ card_json.notes|remove_bracket|check_safe }}
            </div>
            <div class="profile_table">
                <a class="cardDirection" onclick="show_page_load();" href="/Collection/card/{{ card_json.oracle_id }}">
                    <img alt="{{ card_json.card_name|safe }}" class="smallCardImg" src="{{ card_json.avatar_img }}">
                </a>
            </div>
        </div>
        {% endwith %}
    {% endfor %}
</div>
{% include "./wish_pager.html" %}
{% else %}
{% if o_player %}
<h5>No cards added to wish list.</h5>
{% else %}
<h5>No cards added to wish list. Visit Card Database to add cards.</h5>
{% endif %}
{% endif %}
