{% load replaceValues %}

<form action="card" method="post">
    {% csrf_token %}
    <h2>User Collection Information</h2>
    <div class="cardQuantity">
        <div class="card_info">
            <h3>Collection Information</h3>
            {% with user_card|convert_to_json as user_card_json %}
            <div class="quantity_top">
                <input name="oracle_id" type="hidden" value="{{ faces.0.legal.card_obj.oracle_id }}">
                <label for="quantity">Number of cards:</label>
                <input class="quantityText {{ font_family }}" name="card_quantity"
                       onkeypress='numValidate(event)' type="text" value="{{ user_card_json.quantity }}">
            </div>
            <div class="notes_text">
            {% if user_card_json.notes != '' %}
            <textarea class="notes_area" cols="40"
                      name="card_notes" placeholder="Notes"
                      rows="1">{{ user_card_json.notes|check_safe }}</textarea>
            {% else %}
            <textarea class="notes_area" cols="40"
                      name="card_notes" placeholder="Notes"
                      rows="1"></textarea>
            {% endif %}
            <div class="default_font">* Use { } for searchable notes. Example: {Foil}</div>
        </div>
            {% endwith %}
        </div>
        <div class="wish_info">
            <h3>Wish Information</h3>
            {% with user_wish|convert_to_json as user_wish_json %}
            <div class="quantity_top">
                <input name="oracle_id" type="hidden" value="{{ faces.0.legal.card_obj.oracle_id }}">
                <label for="quantity">Number of cards:</label>
                <input class="quantityText {{ font_family }}" name="wish_quantity"
                       onkeypress='numValidate(event)' type="text" value="{{ user_wish_json.quantity }}">
            </div>
            <div class="notes_text">
            {% if user_wish_json.notes != '' %}
            <textarea class="notes_area" cols="40"
                      name="wish_notes" placeholder="Notes"
                      rows="1">{{ user_wish_json.notes|check_safe }}</textarea>
            {% else %}
            <textarea class="notes_area" cols="40"
                      name="wish_notes" placeholder="Notes"
                      rows="1"></textarea>
            {% endif %}
            <div class="default_font">* Use { } for searchable notes. Example: {Foil}</div>
        </div>
            {% endwith %}
        </div>
        <div class="quantity_bottom">
            <button class="clickable {{ font_family }}" name="collection" type="submit">Update Collection</button>
        </div>
    </div>
</form>
