{% load cardLayout %}
<h3>Legalities</h3>
<div class="outerCardLegal">
    <div class="innerCardLegal">
        <div class="{{faces.0.legal.standard}} {{ should_translate }}">
            Standard
        </div>
        <div class="{{faces.0.legal.future}} {{ should_translate }}">
            Future
        </div>
        <div class="{{faces.0.legal.historic}} {{ should_translate }}">
            Historic
        </div>
        <div class="{{faces.0.legal.gladiator}} {{ should_translate }}">
            Gladiator
        </div>
        <div class="{{faces.0.legal.modern}} {{ should_translate }}">
            Modern
        </div>
        <div class="{{faces.0.legal.legacy}} {{ should_translate }}">
            Legacy
        </div>
        <div class="{{faces.0.legal.pauper}} {{ should_translate }}">
            Pauper
        </div>
        <div class="{{faces.0.legal.vintage}} {{ should_translate }}">
            Vintage
        </div>
        <div class="{{faces.0.legal.penny}} {{ should_translate }}">
            Penny
        </div>
        <div class="{{faces.0.legal.commander}} {{ should_translate }}">
            Commander
        </div>
        <div class="{{faces.0.legal.brawl}} {{ should_translate }}">
            Brawl
        </div>
        <div class="{{faces.0.legal.duel}} {{ should_translate }}">
            Duel
        </div>
        <div class="{{faces.0.legal.old_school}} {{ should_translate }}">
            Old School
        </div>
        <div class="{{faces.0.legal.premodern}} {{ should_translate }}">
            Pre-Modern
        </div>
    </div>
</div>
<div class="notLegalTableField" style="margin-top: 5px;">
    * Card is not legal for game styles in red.
</div>
<div class="bannedTableField" style="margin-top: 5px;">
    * Card is banned for game styles in yellow.
</div>