{% load cardLayout %}
{% load replaceValues %}

<div class="singCardHead">
    <span class="singCardAttLbl">Name:</span>
    <div class="{{faces.0.legal.card_obj.layout.multi_face|cardMultiFace}}">
        {% for face in faces %}
        <div class="singCardInValue {{ should_translate }}">
            {{ face.name }}
        </div>
        {% endfor %}
    </div>

    <span class="singCardAttLbl">Mana Cost:</span>
    <div class="{{faces.0.legal.card_obj.layout.multi_face|cardMultiFace}}">
        {% for face in faces %}
        <div class="singCardInValue">
            {{ face.mana_cost|replaceMana|check_safe }}
        </div>
        {% endfor %}
    </div>

    <span class="singCardAttLbl">Type:</span>
    <div class="{{faces.0.legal.card_obj.layout.multi_face|cardMultiFace}}">
        {% for face in faces %}
        <div class="singCardInValue">
            {{ face.type_line }}
        </div>
        {% endfor %}
    </div>

    <span class="singCardAttLbl">Loyalty:</span>
    <div class="{{faces.0.legal.card_obj.layout.multi_face|cardMultiFace}}">
        {% for face in faces %}
        <div class="singCardInValue">
            {{ face.loyalty }}
        </div>
        {% endfor %}
    </div>

    <span class="singCardAttLbl">Power:</span>
    <div class="{{faces.0.legal.card_obj.layout.multi_face|cardMultiFace}}">
        {% for face in faces %}
        <div class="singCardInValue">
            {{ face.power }}
        </div>
        {% endfor %}
    </div>

    <span class="singCardAttLbl">Toughness:</span>
    <div class="{{faces.0.legal.card_obj.layout.multi_face|cardMultiFace}}">
        {% for face in faces %}
        <div class="singCardInValue">
            {{ face.toughness }}
        </div>
        {% endfor %}
    </div>

    <span class="singCardAttLbl">Text:</span>
    <div class="{{faces.0.legal.card_obj.layout.multi_face|cardMultiFace}}">
        {% for face in faces %}
        <div class="singCardInValue">
            <p style="white-space: pre-line;">{{ face.text|replaceTextMana|replacePeriod|check_safe }}</p>
        </div>
        {% endfor %}
    </div>

    <span class="singCardAttLbl">Flavor Text:</span>
    <div class="{{faces.0.legal.card_obj.layout.multi_face|cardMultiFace}}">
        {% for face in faces %}
        <div class="singCardInValue">
            {{ face.flavor_text }}
        </div>
        {% endfor %}
    </div>
    <span class="singCardAttLbl">Most recent set:</span>
    <div class="singCardSet {{ should_translate }}">{{ faces.0.legal.card_obj.set_name }}</div>

    <span class="singCardAttLbl">Keywords:</span>
    <div class="singCardKeywords">{{ faces.0.legal.card_obj.keywords }}</div>
</div>
