{% load replaceValues %}
<div>
    <hr>
    <div class="card_display">
        <div class="deck_cards">
            <h3>Cards</h3>
            <div class="deck_cards_inner">
            {% for card_obj in deck_cards %}
                {% with card_obj|convert_to_json as card_json %}
                    <div class="cardObj">
                        <a class="cardDirection" onclick="show_page_load();" href='/Collection/card/{{ card_json.oracle_id }}/'>
                            <img alt="{{ card_json.card_name|check_safe }}" class="cardImg" src='{{ card_json.card_image }}'>
                            <div class="cardObjText {{ should_translate }}">
                                {{ card_json.quantity }} X<br>{{ card_json.card_name|check_safe }}
                            </div>
                        </a>
                    </div>
                {% endwith %}
            {% endfor %}
            </div>
        </div>
        <div class="side_cards">
            <h3>Side Board</h3>
            <div class="deck_cards_inner">
            {% for card_obj in side_cards %}
                {% with card_obj|convert_to_json as card_json %}
                    <div class="cardObj">
                        <a class="cardDirection" onclick="show_page_load();" href='/Collection/card/{{ card_json.oracle_id }}/'>
                            <img alt="{{ card_json.card_name|check_safe }}" class="cardImg" src='{{ card_json.card_image }}'>
                            <div class="cardObjText {{ should_translate }}">
                                {{ card_json.quantity }} x<br>{{ card_json.card_name|check_safe }}
                            </div>
                        </a>
                    </div>
                {% endwith %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>