<div class="cardGrid" id="cardGrid">
    {% for card_obj in deck_cards %}
    <div class="cardObj">
        <!-- Puts the card objects into the deck cards. -->
        <!-- cardDirection is the clickable card object, href is the url for the card. -->
        <a class="cardDirection" href="/Collection/card/{{ card_obj.card_oracle }}/">
            <img alt="Avatar" class="cardImg" src="{{ card_obj.card_file }}">
            <div class="cardObjText {{ should_translate }}">
                {{ card_obj.quantity }} X {{ card_obj.name }}
            </div>
        </a>
    </div>
    {% endfor %}
</div>