{% load cardLayout %}
{% load replaceValues %}

<div class="deckHead">
    <span class="deckAttributeLabel">Name:</span>
    <!-- Determining the value of the deck and whether it should translate. -->
    <div class="deckValue {{ should_translate }}">
        <!-- This checks DeckCards in models and pulls the deck name -->
        {{ deck.name|check_safe }}
    </div>

    <span class="deckAttributeLabel">Mana Colors:</span>
    <!-- Determining the value of the deck and whether it should translate. -->
    <div class="deckValue {{ should_translate }}">
        <!-- This checks DeckCards in models and pulls the deck colors -->
        {{ deck.color_id|replaceMana|safe }}
    </div>

    <span class="deckAttributeLabel">Original Creator:</span>
    <!-- Determining the value of the deck and whether it should translate. -->
    <div class="deckValue {{ should_translate }}">
        <!-- This checks DeckCards in models and pulls the creator of the deck -->
        {{ deck.created_by }}
    </div>

    <span class="deckAttributeLabel">Deck Owner:</span>
    <!-- Determining the value of the deck and whether it should translate. -->
    <div class="deckValue {{ should_translate }}">
        <!-- This checks DeckCards in models and pulls the creator of the deck -->
        {{ deck.deck_user }}
    </div>

    <span class="deckAttributeLabel">Deck Type:</span>
    <!-- Determining the value of the deck and whether it should translate. -->
    <div class="deckValue {{ should_translate }}">
        <!-- This checks DeckCards in models and pulls the deck type -->
        {{ deck.deck_type.desc|safe }}
    </div>

    <span class="deckAttributeLabel">Description:</span>
    <!-- Determining the value of the deck and whether it should translate. -->
    <div class="deckValue {{ should_translate }}">
        <!-- This checks DeckCards in models and pulls the description for the deck -->
        {{ deck.description|remove_bracket|check_safe }}
    </div>

    <div class ="deck_manage">
        <form action="/modify_deck?user_id={{ user_id }}&deck_id={{ deck_id }}" method="get">
            {% csrf_token %}
            <button class="clickable {{font_family }}"
                    onclick="show_page_load();"
                    name="modify_deck_reset_cards"
                    type="submit">
                {% if edit %}
                    Modify Deck
                 {% else %}
                    Copy Deck
                 {% endif %}
            </button>
        </form>
    </div>
</div>