<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Nenniltoz</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\loader.css' %}">

    <script src="{% static 'js\general.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% if user.is_staff %}<script src="{% static 'js\admin.js' %}"></script>{% endif %}

</head>
<body class="font">
    <div class="bodyContainer">
        <div class="topNav colorNavBackground">
            <a id="tnHome" class="topNavItem colorText tNactive clickable" href="/index.php">Home</a>
            <div class="navDropdown colorNavBackground colorText">
                <button onclick="navDropFunc()" class="navDropBtn colorNavBackground clickable colorText">=</button>
                <div id="userNavDrop" class="navDropDownContent colorNavBackground colorText">
                    <ul class="navDropDownUL">
                         {% if user.is_authenticated %}
                            <li class="navDropDownLI"><p class="topDropNavHeadItem colorText">Welcome {{ user.username }}</p></li>
                            <li class="navDropDownLI"><a class="topDropNavItem colorText clickable" href="{% url 'login'%}?next={{request.path}}">Profile</a></li>
                            <li class="navDropDownLI"><a class="topDropNavItem colorText clickable" href="{% url 'login'%}?next={{request.path}}">Collection</a></li>
                        {% endif %}
                            <li class="navDropDownLI"><a class="topDropNavItem colorText clickable" href="{% url 'login'%}?next={{request.path}}">Collection</a></li>
                        {% if user.is_staff %}
                            <li class="navDropDownLI"><p class="topDropNavHeadItem colorText">Admin</p></li>
                            <li class="navDropDownLI"><a class="topDropNavItem colorText clickable" href="{% url 'APIimport'%}">Update Cards</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li class="navDropDownLI"><a class="topDropNavItem colorText clickable" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                        {% else %}
                            <li class="navDropDownLI"><a class="topDropNavItem colorText clickable" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="innerBody colorText">
            {% block content %}
                <!-- default content text (typically empty) -->
            {% endblock %}
        </div>
    </div>
</body>
</html>
