<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
            Nenniltoz
        {% endblock %}
    </title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link href="{% static 'css\color.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css\dropdown.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css\fonts.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css\general.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css\loader.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css\nav.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css\pagination.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css\selectFonts.css' %}" rel="stylesheet" type="text/css">

    {% block css %}
    {% endblock %}

    <script data-ad-client="ca-pub-6372259072729638" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body class="{{ font_family }} default_font body_class colorText">
    <div class="page_loading" id="page_loading">
        <img class="loadCircle" src="{% static 'img\Loader.gif' %}" alt="Be patient..." />
    </div>

<div class="google_translate" id="google_translate_element"></div>
<div class="bodyContainer">
    <div class="topNav colorNavBackground">
        <a class="topNavItem colorText tNactive clickableCol" onclick="show_page_load();" href="/Users/" id="tnHome">Home</a>
        <div class="navDropdown colorNavBackground colorText">
            <button class="navDropBtn colorNavBackground clickableCol colorText" onclick="navDropFunc()">
               <img src="{% static 'img\Menu-icon.png' %}" alt="Menu" class="navDropBtnImg">
            </button>
            <div class="navDropDownContent colorNavBackground colorText" id="userNavDrop">
                <ul class="navDropDownUL">
                    {% if request.user.is_authenticated %}
                    <li class="navDropDownLI"><p class="topDropNavHeadItem colorText">
                        Welcome {{request.user.username}}</p></li>
                    <li class="navDropDownLI"><a class="topDropNavHeadItem colorText clickableCol" onclick="show_page_load();"
                                                 href="{% url 'logout'%}?next={% url 'logout'%}">Logout</a></li>
                    {% else %}
                    <li class="navDropDownLI"><a class="topDropNavHeadItem colorText clickableCol" onclick="show_page_load();"
                                                 href="{% url 'login'%}">Login</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="navDropDownLI"><a class="topDropNavItem colorText clickableCol" onclick="show_page_load();"
                                                 href="{% url 'card_database'%}">Card Database</a></li>
                    <li class="navDropDownLI"><a class="topDropNavItem colorText clickableCol" onclick="show_page_load();"
                                                 href="{% url 'deck_database'%}">Deck Database</a></li>
                    <li class="navDropDownLI"><a class="topDropNavItem colorText clickableCol"  onclick="show_page_load();"
                                                 href="/LifeCounter/">Life Counter</a></li>
                    <li class="navDropDownLI"><a class="topDropNavItem colorText clickableCol" onclick="show_page_load();"
                                                 href="/Users/user_profile/{{ request.user.id }}/">Profile</a></li>
                    {% else %}
                    <li class="navDropDownLI"><a class="topDropNavItem colorText clickableCol" onclick="show_page_load();"
                                                 href="{% url 'card_database'%}">Card Database</a></li>
                    {% endif %}
                    {% if request.user.is_staff %}
                    <li class="navDropDownLI"><p class="topDropNavHeadItem colorText">Admin</p></li>
                    <li class="navDropDownLI"><a class="topDropNavItem colorText clickableCol" onclick="show_page_load();"
                                                 href="{% url 'APIimport'%}">Update Cards</a></li>
                    <li class="navDropDownLI"><a class="topDropNavItem colorText clickableCol" onclick="show_page_load();"
                             href="{% url 'quick_search_update'%}">Update Searches</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="innerBody">
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert successAlert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert errorAlert">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        {% block content %}
        <!-- default content text (typically empty) -->
        {% endblock %}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js\general.js' %}"></script>
<script src="{% static 'js\dropdown.js' %}"></script>


{% block custom_scripts %}

{% endblock %}
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
        type="text/javascript"></script>
</body>
</html>
