<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Nenniltoz</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\loader.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\cards.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\pagination.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\admin.css' %}">

    <script src="{% static 'js\general.js' %}"></script>
    <script src="{% static 'js\card.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% if request.user.is_staff %}<script src="{% static 'js\admin.js' %}"></script>{% endif %}

</head>
<body class="font">
    <div class="bodyContainer">
        <div class="topNav colorNavBackground">
            <a id="tnHome" class="topNavItem colorText tNactive clickableCol" href="/Users/">Home</a>
            <div class="navDropdown colorNavBackground colorText">
                <button onclick="navDropFunc()" class="navDropBtn colorNavBackground clickableCol colorText">=</button>
                <div id="userNavDrop" class="navDropDownContent colorNavBackground colorText">
                    <ul class="navDropDownUL">
                         {% if request.user.is_authenticated %}
                            <li class="navDropDownLI"><p class="topDropNavHeadItem colorText">Welcome {{ request.user.username }}</p></li>
                            <li class="navDropDownLI"><a class="topDropNavHeadItem colorText clickableCol" href="{% url 'logout_page'%}?next={{request.path}}">Logout</a></li>
                            <li class="navDropDownLI"><a class="topDropNavItem colorText clickableCol" href="/Users/user_profile/{{ request.user.id }}/">Profile</a></li>
                        {% else %}
                            <li class="navDropDownLI"><a class="topDropNavHeadItem colorText clickableCol" href="{% url 'login_page'%}?next={{request.path}}">Login</a></li>
                        {% endif %}
                            <li class="navDropDownLI"><a class="topDropNavItem colorText clickableCol" href="{% url 'collectionAll'%}">Collection</a></li>
                        {% if request.user.is_staff %}
                            <li class="navDropDownLI"><p class="topDropNavHeadItem colorText">Admin</p></li>
                            <li class="navDropDownLI"><a class="topDropNavItem colorText clickableCol" href="{% url 'APIimport'%}">Update Cards</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="innerBody colorText">
            {% block content %}
                <!-- default content text (typically empty) -->
            {% endblock %}
        </div>
    </div>
</body>
</html>
