{% if o_player %}
    <div class="row">
        <div class="">
            <h4>Account Details</h4>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="">
            <h4>Account Details</h4>
            <div class="userAvatarDiv">
                <img class="userAvatarImg" src="{{ user_profile_obj.avatarImg }}">
                <div>
                    <a class="colorText clickable" href="/Users/select_avatar">Change Avatar</a>
                </div>
            </div>

        </div>
    </div>
{% endif %}