{% extends "base_generic.html" %}
{% block content %}
<div class="row">
    <div class="">

        <h4>Login</h4>
        <hr>

        {% if messages %}
        {% for message in messages %}
        <p class="alert alert-info">{{ message }}</p>
        {% endfor %}
        {% endif %}

        <form method="post">

            {% csrf_token %}

            <table class="table">
                <tr>
                    <th><label for="id_username">Username:</label></th>
                    <td><input id="id_username" name="username" required type="text"/></td>
                </tr>
                <tr>
                    <th><label for="id_password">Password:</label></th>
                    <td><input id="id_password" name="password" required type="password"/></td>
                </tr>
                <tr>
                    <td><input name="next" type="hidden" value=""></td>
                    <td>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </td>
                </tr>
            </table>

        </form>
    </div>

    <div class="">
        <h4>Related Links</h4>
        <p>
            <a href="{% url 'register' %}">Create new account.</a> <br>
        </p>
    </div>

</div>
{% endblock %}