{% extends "base_generic.html" %}
{% load replaceValues %}
{% load static %}

{% block css %}
<link href="{% static 'css\registration.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Sign Up</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="login_div">
            {% for field in form %}
                <div class="login_errors">{{ field.errors }}</div>
                <div class="login_label">{{ field.label_tag }}</div>
                <div class="login_field">{{ field }}</div>
                {% if field.help_text %}
                <div class="login_help">{{ field.help_text }}</div>
                {% endif %}
            {% endfor %}
            </div>
            <input class="login_button" type="submit" onclick="show_page_load();" value="Submit"/>
            <input name="next" type="hidden" value="{{ next }}"/>
        </form>
    </div>
</div>

{% endblock %}
