aioredis==1.3.1
alabaster==0.7.12
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
Babel==2.9.0
boto3==1.17.42
botocore==1.20.42
certifi==2020.12.5
cffi==1.14.5
channels==3.0.3
channels-redis==3.2.0
chardet==3.0.4
click==7.1.2
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.6
daphne==3.0.1
decorator==4.4.2
Django==3.1.7
django-autocomplete-light==3.8.2
django-storages==1.11.1
djangorestframework==3.12.2
docutils==0.16
google-trans-new==1.1.9
googletrans==3.0.0
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hiredis==1.1.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
ijson==3.1.3
imagesize==1.2.0
incremental==21.3.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
msgpack==1.0.2
mysqlclient==2.0.3
packaging==20.9
Pillow==8.1.2
psycopg2-binary==2.8.6
py-translate==1.0.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.8.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.4
pytz==2021.1
redis==3.5.3
requests==2.25.1
rfc3986==1.4.0
rq==1.7.0
s3transfer==0.3.6
self==2020.12.3
service-identity==18.1.0
six==1.15.0
sniffio==1.2.0
snowballstemmer==2.1.0
Sphinx==3.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
Twisted==21.2.0
txaio==21.2.1
urllib3==1.26.3
uvicorn==0.13.4
whitenoise==5.2.0
zope.interface==5.2.0
