html{
    height: 100%;
    width: 100%;}

body{
    height: 90%;
    padding: 50px 50px 50px 50px;
    overflow: hidden;
}

.font{
    font-family: Arial, Helvetica, sans-serif;
}

.innerBody{
    height: 100%;
    margin: auto;
    overflow: scroll;
    overflow-x: hidden;
}

.index{
    padding: 50px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, .0);
}

::-webkit-scrollbar-thumb {
  background: #8888886e;
}

::-webkit-scrollbar-thumb:hover {
  background: #8888886e;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid black;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

.cardLoadAnimate {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}