{% extends 'base_generic.html' %}

{% block css %}
    <link href="{% static 'css\LifeCounter.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="wrapper">
    <h1>Join a Game</h1>
    <form method="POST">
        {% csrf_token %}
        <div class='form-control'>
            <label for="game">Game Code</label>
            <input id="game" type="text" name="game_code" placeholder="{{ game_code }}"/>
        </div>
        <input type="submit" class="button" name="join_game" value="Join Game" />
        Or
        <div class='form-control'>
            <label for="game_type">Game Type</label>
            <select name="game_type" id="game_type">
{% for game_type_obj in game_types %}
                <option value="{{ game_type_obj.type }}">{{ game_type_obj.type }}</option>
{% endfor %}
            </select>
        </div>
        <input type="submit" class="button" name="start_game" value="Start Game" />
    </form>
</div>
{% endblock content %}

{% block custom_scripts %}
    <script src="{% static 'js\LifeCounter.js' %}"></script>
{% endblock %}