{% extends "base_generic.html" %}
{% load replaceValues %}
{% load static %}
{% block css %}
<link href="{% static 'css\cards.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="cardFilter">
    <form action="card_database" method="post" id="search_form">
        {% csrf_token %}
        {% if search_Term is "" %}
        <input class="{{ font_family }}" name="collection_card_search_Term" placeholder="Search">
        {% else %}
        <input class="{{ font_family }}" name="collection_card_search_Term" placeholder="Search" value="{{ search_Term }}">
        {% endif %}
        <input class="{{ font_family }}" type="submit" onclick="show_page_load();" value="Search">
        {% if clearSearch %}
        <input class="{{ font_family }}" name="collection_card_clear_search" type="submit"
               onclick="show_page_load();" value="Clear Search">
        {% endif %}
        <a class="advFilterA clickable colorText" onclick="advFilterFunc();">Advanced Search</a>
        <div class="cardAdvFilter" id="adv_mana_filter">
            {% for mana in mana_list %}
            <span class='manaSearchObj'>
          {% if mana.checked %}
            <input checked="checked" name="mana-{{ mana.id }}" type="checkbox" value="{{ mama.id }}">
          {% else %}
            <input name="mana-{{ mana.id }}" type="checkbox" value="{{ mama.id }}">
          {% endif %}
          <img class='manaSearchSymbols' src='{{ mana.image_url }}'/>
        </span>
            {% endfor %}
        </div>
        {% if not full_list %}
        <div class="cardAdvFilter" id="adv_full_filter">
            <input class="{{ font_family }}" name="collection_card_full_list" type="submit"
                   onclick="show_page_load();" value="Full List">
        </div>
        {% endif %}
    </form>
</div>

{% include "./pager.html" %}
<div class="cardGrid" id="cardGrid">
    {% for card_obj in pages %}
        {% if card_obj is not ' ' %}
            {% with card_obj|convert_to_json as card_json %}
            <div class="cardObj">
                <a class="cardDirection" onclick="show_page_load();" href='/Collection/card/{{ card_json.oracle_id }}/'>
                    <img alt="Avatar" class="cardImg" src='{{ card_json.card_url }}'>
                    <div class="cardObjText {{ should_translate }}">
                        {{ card_json.card_name|check_safe }}
                    </div>
                </a>
            </div>
            {% endwith %}
        {% endif %}
    {% endfor %}
</div>
{% include "./pager.html" %}

{% endblock %}

{% block custom_scripts %}
<script src="{% static 'js\card.js' %}"></script>
<script>
    $(document).keypress(
        function(event){
            if (event.which == '13') {
                event.preventDefault();
            }
        }
    );
</script>
{% endblock %}