{% extends "base_generic.html" %}

{% block content %}
<div class="cardFilter">
    <form action="collectionAll" method="post">
        {% csrf_token %}
        {% if clearSearch %}
        <input name="SearchTerm" type="text" value="{{ SearchTerm }}">
        {% else %}
        <input name="SearchTerm" placeholder="Search" type="text">
        {% endif %}
        <input type="submit" value="Search">
        {% if clearSearch %}
        <input name="clearSearch" type="submit" value="Clear Search">
        {% endif %}
        <a class="advFilterA clickable colorText" onclick="advFilterFunc();">Advanced Search</a>
        <div class="cardAdvFilter" id="advFilter">
            {% for mana in mana_list %}
            <span class='manaSearchObj'>
          {% if mana.checked %}
            <input checked="checked" name="mana-{{ mana.id }}" type="checkbox" value="{{ mama.id }}">
          {% else %}
            <input name="mana-{{ mana.id }}" type="checkbox" value="{{ mama.id }}">
          {% endif %}
          <img class='mamaSearchSymbols' src='{{ mana.imageURL }}'/>
        </span>
            {% endfor %}
        </div>
    </form>
</div>

{% include "./pager.html" %}
<div class="cardGrid" id="cardGrid">
    {% for card_obj in pages %}
    <div class="cardObj">
        <a class="cardDirection" href="/Collection/Card/{{ card_obj.cardID_id }}/">
            <img alt="Avatar" class="cardImg" src="{{ card_obj.imageURL }}">
            <div class="cardObjText">
                {{ card_obj.name }}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% include "./pager.html" %}

{% endblock %}
