{% extends "base_generic.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'css\cards.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="cardFilter">
    <form action="card_database" method="post">
        {% csrf_token %}
        {% if clearSearch %}
        <input class="{{ font_family }}" name="SearchTerm" value="{{ SearchTerm }}">
        {% else %}
        <input class="{{ font_family }}" name="SearchTerm" placeholder="Search">
        {% endif %}
        <input class="{{ font_family }}" type="submit" value="Search">
        {% if clearSearch %}
        <input class="{{ font_family }}" name="clearSearch" type="submit" value="Clear Search">
        {% endif %}
        <a class="advFilterA clickable colorText" onclick="advFilterFunc();">Advanced Search</a>
        <div class="cardAdvFilter" id="advFilter">
            {% for mana in mana_list %}
            <span class='manaSearchObj'>
          {% if mana.checked %}
            <input checked="checked" name="mana-{{ mana.id }}" type="checkbox" value="{{ mama.id }}">
          {% else %}
            <input name="mana-{{ mana.id }}" type="checkbox" value="{{ mama.id }}">
          {% endif %}
          <img class='mamaSearchSymbols' src='{{ mana.image_url }}'/>
        </span>
            {% endfor %}
        </div>
    </form>
</div>

{% include "./pager.html" %}
<div class="cardGrid" id="cardGrid">
    {% for card_obj in pages %}
    <div class="cardObj">
        <a class="cardDirection" href="/Collection/Card/{{ card_obj.legal.card_obj.oracle_id }}/">
            <img alt="Avatar" class="cardImg" src="{{ card_obj.image_url }}">
            <div class="cardObjText {{ should_translate }}">
                {{ card_obj.name }}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% include "./pager.html" %}

{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'js\card.js' %}"></script>
{% endblock %}