{% extends "base_generic.html" %}
{% load replaceValues %}
{% load static %}

{% block css %}
<!-- The block CSS places internal html into corresponding location in base generic (which is the base html page) -->
<link href="{% static 'css\decks.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="deckFilter">
    <!-- Forms either post or get. Get stores data in the url. Post stores data behind the scenes.
     Action is the method that will be called during submitting. CSRF token helps against attacks and protects data.-->
    <form action="deck_database" method="post">
        {% csrf_token %}
        <!-- Determines if clear search is used. -->
        {% if clearSearch %}
        <input class="{{ font_family }}" name="collection_deck_search_Term" value="{{ collection_deck_search_Term }}">
        {% else %}
        <input class="{{ font_family }}" name="collection_deck_search_Term" placeholder="Search">
        {% endif %}
        <input class="{{ font_family }}" type="submit" value="Search">
        {% if clearSearch %}
        <input class="{{ font_family }}" name="collection_deck_clear_search" type="submit" value="Clear Search">
        {% endif %}
        <a class="advFilterA clickable colorText" onclick="advFilterFunc();">Advanced Search</a>
        <div class="deckAdvFilter" id="advFilter">
            {% for mana in mana_list %}
            <span class='manaSearchObj'>
          {% if mana.checked %}
            <input checked="checked" name="mana-{{ mana.id }}" type="checkbox" value="{{ mama.id }}">
          {% else %}
            <input name="mana-{{ mana.id }}" type="checkbox" value="{{ mama.id }}">
          {% endif %}
          <img class='manaSearchSymbols' src='{{ mana.image_url }}'/>
        </span>
            {% endfor %}
        </div>
    </form>
</div>

<!-- Pager is used by the paginator to generate paging options -->
{% include "./pager.html" %}
<div class="deckGrid" id="deckGrid">
    <!-- Loops through deck objects in pages -->
    {% for deck_obj in pages %}
    {% if deck_obj is not '' %}
            {% with deck_obj|convert_to_json as deck_json %}
            <div class="deckObj">
                <!-- deckDirection makes the deck object clickable -->
                <a class="deckDirection" href="/Collection/deck/{{ deck_json.deck_id }}/">
                    <!-- This is the display for a deck. It will show the name, colors associated, game type, and name of the creator of the deck.
                     If the deck is PreCon-->
                    <div>{{ deck_json.deck_name }}</div>
                    <!-- replaceMana is a template tag used for replacing mana text with it respective symbol. -->
                    <div>{{ deck_json.color_id|replaceMana|safe }}</div>
                    <div>Deck Type: {{ deck_json.deck_type }}</div>
                    <div>
                        {% if deck_json.is_pre_con == "1" %}
                        Pre-Constructed Deck
                        {% else %}
                        Created by: {{deck_json.created_by}}
                        {% endif %}
                    </div>
                    <div>
                        <img class="deck_image" src="../{{deck_json.image_url}}">
                    </div>
                </a>
            </div>
            {% endwith %}
        {% endif %}
    {% endfor %}
</div>
{% include "./pager.html" %}

{% endblock %}

{% block custom_scripts %}
<script src="{% static 'js\deck.js' %}"></script>
{% endblock %}
