{% extends "base_generic.html" %}

{% block content %}
    <div id="APIButtons" class="APIButtons loaderShow">
        <div>
            <button class="APIBtn" onclick="runImport('card',this);">
                Update Cards
            </button>
            <label class="APILbl colorText">
                {{ settings_list.lastCardImport }}
            </label>
        </div>
        <div>
            <button class="APIBtn" onclick="runImport('rule',this);">
                Update Rules
            </button>
            <label class="APILbl colorText">
                {{ settings_list.lastRuleImport }}
            </label>
        </div>
        <div>
            <button class="APIBtn" onclick="runImport('symbol',this);">
                Update Symbols
            </button>
            <label class="APILbl colorText">
                {{ settings_list.lastSymbolImport }}
            </label>
        </div>
    </div>

    <div class="APIDataRun">
        <div id="APILoader" class="loadCircle"></div>
        <ul id="APIProgress" class="APIProgress">

        </ul>
    </div>

{% endblock %}