{% extends "base_generic.html" %}

{% block content %}
<div class="APIButtons show" id="APIButtons">
    <div>
        <button class="APIBtn" onclick="runImport('card',this);">
            Update Cards
        </button>
        <label class="APILbl colorText">
            {{ settings_list.lastCardImport }}
        </label>
    </div>
    <div>
        <button class="APIBtn" onclick="runImport('rule',this);">
            Update Rules
        </button>
        <label class="APILbl colorText">
            {{ settings_list.lastRuleImport }}
        </label>
    </div>
    <div>
        <button class="APIBtn" onclick="runImport('symbol',this);">
            Update Symbols
        </button>
        <label class="APILbl colorText">
            {{ settings_list.lastSymbolImport }}
        </label>
    </div>
</div>

<div class="APIDataRun">
    <div class="loadCircle" id="APILoader"></div>
    <ul class="APIProgress" id="APIProgress">

    </ul>
</div>

{% endblock %}