html{
    height: 100%;
    width: 100%;
    margin: 0;
}

.bodyContainer{
    margin: 50px 50px 50px 50px;
    overflow: hidden;
}

.show{
    display: block !important;
}

.font{
    font-family: Arial, Helvetica, sans-serif;
}

.innerBody{
    overflow: hidden;
    padding: 30px;
    min-height: 500px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, .0);
}

::-webkit-scrollbar-thumb {
  background: #8888886e;
}

::-webkit-scrollbar-thumb:hover {
  background: #8888886e;
}

.clickable{
    cursor: pointer;
}