{% extends "base_generic.html" %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
    <p>{{ form.email }}</p>
    <input class="btn btn-default btn-lg" type="submit" value="Reset password">
</form>
{% endblock %}

<!--
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me instructions!">
  </form>
{% endblock %}
-->
