{% extends "base_generic.html" %}
{% load static %}
{% block css %}
<link href="{% static 'css\registration.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="login_div">
    {% for field in form %}
        <div class="login_errors">{{ field.errors }}</div>
        <div class="login_label">{{ field.label_tag }}</div>
        <div class="login_field">{{ field }}</div>
        {% if field.help_text %}
        <p class="login_help">{{ field.help_text|safe }}</p>
        {% endif %}
    {% endfor %}
    </div>
    <input class="login_button" type="submit" value="Send Instructions"/>
</form>
{% endblock %}

<!--
        <form method="post">
            {% csrf_token %}
            <div class="login_div">
            {% for field in form %}
                <div class="login_errors">{{ field.errors }}</div>
                <div class="login_label">{{ field.label_tag }}</div>
                <div class="login_field">{{ field }}</div>
                {% if field.help_text %}
                <div class="login_help">{{ field.help_text|safe }}</div>
                {% endif %}
            {% endfor %}
            </div>
            <input type="submit" value="Submit"/>
            <input name="next" type="hidden" value="{{ next }}"/>
        </form>

-->