{% if o_player %}
<div class="row">
    <div class="">
        <h3 class="{{ should_translate }}">{{ user_profile_obj.user.username }}</h3>
        {% if user_profile_obj.deck_view %}
        {% include "./ProfileDecks/user_decks.html" %}
        {% endif %}
        {% if user_profile_obj.card_view %}
        <br>
        {% include "./ProfileCards/user_cards.html" %}
        {% endif %}
        {% if user_profile_obj.card_view %}
        <br>
        {% include "./ProfileCards/user_wish_cards.html" %}
        {% endif %}
    </div>
</div>
{% else %}
<div class="row">
    <div class="">
        <h3>Welcome, <span class="{{ should_translate }}">{{ user_profile_obj.user.username }}</span></h3>
        {% include "./ProfileDecks/user_decks.html" %}
        <br>
        {% include "./ProfileCards/user_cards.html" %}
        <br>
        {% include "./ProfileCards/user_wish_cards.html" %}
    </div>
</div>
{% endif %}