{% if o_player %}
<div class="row">
    <div class="">
        <h3 class="{{ should_translate }}">{{ user.username }}</h3>
        {% if user_profile_obj.deckView %}
            {% include "./userDecks.html" %}
        {% endif %}
        {% if user_profile_obj.cardView %}
            {% include "./userCards.html" %}
        {% endif %}
        {% if user_profile_obj.cardView %}
            {% include "./userWishCards.html" %}
        {% endif %}
    </div>
</div>
{% else %}
<div class="row">
    <div class="">
        <h3>Welcome, <span class="{{ should_translate }}">{{ user.username }}</span></h3>
        {% include "./userDecks.html" %}
        {% include "./userCards.html" %}
        {% include "./userWishCards.html" %}
    </div>
</div>
{% endif %}