<div class="">
    <h3>Account Preferences</h3>
    <div class="avatar_btn">
        <a href="/Users/select_avatar">Change Avatar</a>
    </div>

    <hr>

    {% if user_profile_obj.translate == '' %}
    <input checked id="translateCB" name="translateCB" onclick="translate_setting('notranslate')"
           type="checkbox" value="Translated">
    {% else %}
    <input id="translateCB" name="translateCB" onclick="translate_setting('')" type="checkbox" value="Don't Translate">
    {% endif %}
    <label for="translateCB">Translate Everything</label><br><br>

    {% if user_profile_obj.profile_view %}
    <input checked id="profileViewCB" name="profileViewCB" onclick="publicViewCB('profileView')"
           type="checkbox" value="Public Profile">
    {% else %}
    <input id="profileViewCB" name="profileViewCB" onclick="publicViewCB('profileView')" type="checkbox"
           value="Public Profile">
    {% endif %}
    <label for="profileViewCB">Public Profile</label><br>

    {% if user_profile_obj.deck_view %}
    <input checked id="deckViewCB" name="deckViewCB" onclick="publicViewCB('deckView')" type="checkbox"
           value="Public Decks">
    {% else %}
    <input id="deckViewCB" name="deckViewCB" onclick="publicViewCB('deckView')" type="checkbox" value="Public Decks">
    {% endif %}
    <label for="deckViewCB">Public Decks</label><br>

    {% if user_profile_obj.card_view %}
    <input checked id="cardViewCB" name="cardViewCB" onclick="publicViewCB('cardView')" type="checkbox"
           value="Public Cards">
    {% else %}
    <input id="cardViewCB" name="cardViewCB" onclick="publicViewCB('cardView')" type="checkbox" value="Public Cards">
    {% endif %}
    <label for="cardViewCB">Public Cards</label><br>

    <hr>
    <h4>Font Type</h4>
    {% include "./fonts.html" %}

</div>