<div class="">
    <h3>Account Preferences</h3>
    <div class="avatar_btn">
        <a href="/Users/select_avatar">Change Avatar</a>
    </div>

    <hr>

{% if user_profile_obj.translate == '' %}
    <input type="checkbox" id="translateCB" name="translateCB" value="Translated" onclick="translate_setting('notranslate')" checked>
{% else %}
    <input type="checkbox" id="translateCB" name="translateCB" value="Don't Translate" onclick="translate_setting('')">
{% endif %}
    <label for="translateCB">Translate Everything</label><br><br>

{% if user_profile_obj.profile_view %}
    <input type="checkbox" id="profileViewCB" name="profileViewCB" value="Public Profile" onclick="publicViewCB('profileView')" checked>
{% else %}
    <input type="checkbox" id="profileViewCB" name="profileViewCB" value="Public Profile" onclick="publicViewCB('profileView')">
{% endif %}
    <label for="profileViewCB">Public Profile</label><br>

{% if user_profile_obj.deck_view %}
    <input type="checkbox" id="deckViewCB" name="deckViewCB" value="Public Decks" onclick="publicViewCB('deckView')" checked>
{% else %}
    <input type="checkbox" id="deckViewCB" name="deckViewCB" value="Public Decks" onclick="publicViewCB('deckView')">
{% endif %}
    <label for="deckViewCB">Public Decks</label><br>

{% if user_profile_obj.card_view %}
    <input type="checkbox" id="cardViewCB" name="cardViewCB" value="Public Cards" onclick="publicViewCB('cardView')" checked>
{% else %}
    <input type="checkbox" id="cardViewCB" name="cardViewCB" value="Public Cards" onclick="publicViewCB('cardView')">
{% endif %}
    <label for="cardViewCB">Public Cards</label><br>

    <hr>
    <h4>Font Type</h4>
    {% include "./fonts.html" %}

</div>