{% if o_player %}

{% else %}
    <div class="row">
        <div class="">
            <h4>Change Account Preferences</h4>
            <form action="" method="post" class="form-horizontal" >
                {% csrf_token %}

                <table class="table">
                    <tr>
                        <td>&nbsp;</td>
                        <td><button type="submit" class="btn btn-primary">Submit</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endif %}
