<div class="">
    <h4>Account Preferences</h4>
{% if user_profile_obj.profileView %}
    <input type="checkbox" id="profileViewCB" name="profileViewCB" value="Public Profile" onclick="publicViewCB('profileView')" checked>
    <label for="profileViewCB">Public Profile</label><br>
{% else %}
    <input type="checkbox" id="profileViewCB" name="profileViewCB" value="Public Profile" onclick="publicViewCB('profileView')">
    <label for="profileViewCB">Public Profile</label><br>
{% endif %}

{% if user_profile_obj.deckView %}
    <input type="checkbox" id="deckViewCB" name="deckViewCB" value="Public Decks" onclick="publicViewCB('deckView')" checked>
    <label for="profileViewCB">Public Decks</label><br>
{% else %}
    <input type="checkbox" id="deckViewCB" name="deckViewCB" value="Public Decks" onclick="publicViewCB('deckView')">
    <label for="profileViewCB">Public Decks</label><br>
{% endif %}

{% if user_profile_obj.cardView %}
    <input type="checkbox" id="cardViewCB" name="cardViewCB" value="Public Cards" onclick="publicViewCB('cardView')" checked>
    <label for="profileViewCB">Public Cards</label><br>
{% else %}
    <input type="checkbox" id="cardViewCB" name="cardViewCB" value="Public Cards" onclick="publicViewCB('cardView')">
    <label for="profileViewCB">Public Cards</label><br>
{% endif %}
</div>
