{% if o_player %}
<h4>Following:</h4>
<div class="followerGrid">
    {% for follower in follower_obj %}
    <div>
        <a class="friendLinkA clickable colorText {{ font_family }} {{ should_translate }}" href="/Users/user_profile/{{ follower.id }}/">&emsp;{{ follower.username }}</a>
    </div>
    {% endfor %}
</div>
{% else %}
<h4>Following:</h4>
<div class="followerGrid">
    <form action="add_follower" method="post">
        {% csrf_token %}
        <input id="curUserRequest" name="curUser" type="hidden" value="{{ user_profile_obj.user.username }}">
        <input class="newFollowerRequest {{ font_family }}" id="newFollowerRequest" name="newFollower" placeholder="Username">
        <button class="newFollowerButton clickable {{ font_family }}" type="submit">Follow User</button>
    </form>
    {% for follower in follower_obj %}
    <div>
        <form action="remove_follower" method="post">
            {% csrf_token %}
            <input name="curUser" type="hidden" value="{{ user_profile_obj.user.username }}">
            <input name="newFollower" type="hidden" value="{{ follower.username }}">
            <input name="newFollowerID" type="hidden" value="{{ follower.id }}">
            <button class="friendLinkBtn clickable colorText {{ font_family }} {{ should_translate }}" name="userRedirect" type="submit">&emsp;{{ follower.username }}
            </button>
            <button class="friendRejectBtn friendBtn clickable" name="followerRejectBtn" onclick="return confirm('Remove follower: {{ follower.username }}?');"
                    type="submit"></button>
        </form>
    </div>
    {% endfor %}
</div>
{% endif %}