{% if user_profile_obj.font_family == 'default_font' %}
    <input type="radio" id="default" name="font" value="default_font" onclick="font_type('default_font')" checked>
{% else %}
    <input type="radio" id="default" name="font" value="default_font" onclick="font_type('default_font')">
{% endif %}
    <label class="default_font" for="default">Default</label><br><br>

{% if user_profile_obj.font_family == 'ablasco' %}
    <input type="radio" id="ablasco" name="font" value="ablasco" onclick="font_type('ablasco')" checked>
{% else %}
    <input type="radio" id="ablasco" name="font" value="ablasco" onclick="font_type('ablasco')">
{% endif %}
    <label class="ablasco" for="ablasco">Ablasco</label><br>

{% if user_profile_obj.font_family == 'adistro' %}
    <input type="radio" id="adistro" name="font" value="adistro" onclick="font_type('adistro')" checked>
{% else %}
    <input type="radio" id="adistro" name="font" value="adistro" onclick="font_type('adistro')">
{% endif %}
    <label class="adistro" for="adistro">Adistro</label><br>

{% if user_profile_obj.font_family == 'annyeong_haseyo' %}
    <input type="radio" id="annyeong_haseyo" name="font" value="annyeong_haseyo" onclick="font_type('annyeong_haseyo')" checked>
{% else %}
    <input type="radio" id="annyeong_haseyo" name="font" value="annyeong_haseyo" onclick="font_type('annyeong_haseyo')">
{% endif %}
    <label class="annyeong_haseyo" for="annyeong_haseyo">Annyeong Haseyo</label><br>

{% if user_profile_obj.font_family == 'anterobot' %}
    <input type="radio" id="anterobot" name="font" value="anterobot" onclick="font_type('anterobot')" checked>
{% else %}
    <input type="radio" id="anterobot" name="font" value="anterobot" onclick="font_type('anterobot')">
{% endif %}
    <label class="anterobot" for="anterobot">Anterobot</label><br>

{% if user_profile_obj.font_family == 'ape_mount' %}
    <input type="radio" id="ape_mount" name="font" value="ape_mount" onclick="font_type('ape_mount')" checked>
{% else %}
    <input type="radio" id="ape_mount" name="font" value="ape_mount" onclick="font_type('ape_mount')">
{% endif %}
    <label class="ape_mount" for="ape_mount">Ape Mount</label><br>

{% if user_profile_obj.font_family == 'arigatougozaimsu' %}
    <input type="radio" id="arigatougozaimsu" name="font" value="arigatougozaimsu" onclick="font_type('arigatougozaimsu')" checked>
{% else %}
    <input type="radio" id="arigatougozaimsu" name="font" value="arigatougozaimsu" onclick="font_type('arigatougozaimsu')">
{% endif %}
    <label class="arigatougozaimsu" for="arigatougozaimsu">Arigatougozaimsu</label><br>

{% if user_profile_obj.font_family == 'dragonfly' %}
    <input type="radio" id="dragonfly" name="font" value="dragonfly" onclick="font_type('dragonfly')" checked>
{% else %}
    <input type="radio" id="dragonfly" name="font" value="dragonfly" onclick="font_type('dragonfly')">
{% endif %}
    <label class="dragonfly" for="dragonfly">Dragonfly</label><br>

{% if user_profile_obj.font_family == 'edge_of_the_galexy' %}
    <input type="radio" id="edge_of_the_galexy" name="font" value="edge_of_the_galexy" onclick="font_type('edge_of_the_galexy')" checked>
{% else %}
    <input type="radio" id="edge_of_the_galexy" name="font" value="edge_of_the_galexy" onclick="font_type('edge_of_the_galexy')">
{% endif %}
    <label class="edge_of_the_galexy" for="edge_of_the_galexy">Edge Of The Galexy</label><br>

{% if user_profile_obj.font_family == 'asian_hiro' %}
    <input type="radio" id="asian_hiro" name="font" value="asian_hiro" onclick="font_type('asian_hiro')" checked>
{% else %}
    <input type="radio" id="asian_hiro" name="font" value="asian_hiro" onclick="font_type('asian_hiro')">
{% endif %}
    <label class="asian_hiro" for="asian_hiro">Hiro</label><br>
