{% if user_profile_obj.font_family == 'default_font' %}
<input checked id="default" name="font" onclick="font_type('default_font')" type="radio" value="default_font">
{% else %}
<input id="default" name="font" onclick="font_type('default_font')" type="radio" value="default_font">
{% endif %}
<label class="default_font" for="default">Default</label><br><br>

{% if user_profile_obj.font_family == 'ablasco' %}
<input checked id="ablasco" name="font" onclick="font_type('ablasco')" type="radio" value="ablasco">
{% else %}
<input id="ablasco" name="font" onclick="font_type('ablasco')" type="radio" value="ablasco">
{% endif %}
<label class="ablasco" for="ablasco">Ablasco</label><br>

{% if user_profile_obj.font_family == 'adistro' %}
<input checked id="adistro" name="font" onclick="font_type('adistro')" type="radio" value="adistro">
{% else %}
<input id="adistro" name="font" onclick="font_type('adistro')" type="radio" value="adistro">
{% endif %}
<label class="adistro" for="adistro">Adistro</label><br>

{% if user_profile_obj.font_family == 'annyeong_haseyo' %}
<input checked id="annyeong_haseyo" name="font" onclick="font_type('annyeong_haseyo')" type="radio"
       value="annyeong_haseyo">
{% else %}
<input id="annyeong_haseyo" name="font" onclick="font_type('annyeong_haseyo')" type="radio" value="annyeong_haseyo">
{% endif %}
<label class="annyeong_haseyo" for="annyeong_haseyo">Annyeong Haseyo</label><br>

{% if user_profile_obj.font_family == 'anterobot' %}
<input checked id="anterobot" name="font" onclick="font_type('anterobot')" type="radio" value="anterobot">
{% else %}
<input id="anterobot" name="font" onclick="font_type('anterobot')" type="radio" value="anterobot">
{% endif %}
<label class="anterobot" for="anterobot">Anterobot</label><br>

{% if user_profile_obj.font_family == 'ape_mount' %}
<input checked id="ape_mount" name="font" onclick="font_type('ape_mount')" type="radio" value="ape_mount">
{% else %}
<input id="ape_mount" name="font" onclick="font_type('ape_mount')" type="radio" value="ape_mount">
{% endif %}
<label class="ape_mount" for="ape_mount">Ape Mount</label><br>

{% if user_profile_obj.font_family == 'arigatougozaimsu' %}
<input checked id="arigatougozaimsu" name="font" onclick="font_type('arigatougozaimsu')" type="radio"
       value="arigatougozaimsu">
{% else %}
<input id="arigatougozaimsu" name="font" onclick="font_type('arigatougozaimsu')" type="radio" value="arigatougozaimsu">
{% endif %}
<label class="arigatougozaimsu" for="arigatougozaimsu">Arigatougozaimsu</label><br>

{% if user_profile_obj.font_family == 'dragonfly' %}
<input checked id="dragonfly" name="font" onclick="font_type('dragonfly')" type="radio" value="dragonfly">
{% else %}
<input id="dragonfly" name="font" onclick="font_type('dragonfly')" type="radio" value="dragonfly">
{% endif %}
<label class="dragonfly" for="dragonfly">Dragonfly</label><br>

{% if user_profile_obj.font_family == 'edge_of_the_galexy' %}
<input checked id="edge_of_the_galexy" name="font" onclick="font_type('edge_of_the_galexy')"
       type="radio" value="edge_of_the_galexy">
{% else %}
<input id="edge_of_the_galexy" name="font" onclick="font_type('edge_of_the_galexy')" type="radio"
       value="edge_of_the_galexy">
{% endif %}
<label class="edge_of_the_galexy" for="edge_of_the_galexy">Edge Of The Galexy</label><br>

{% if user_profile_obj.font_family == 'asian_hiro' %}
<input checked id="asian_hiro" name="font" onclick="font_type('asian_hiro')" type="radio" value="asian_hiro">
{% else %}
<input id="asian_hiro" name="font" onclick="font_type('asian_hiro')" type="radio" value="asian_hiro">
{% endif %}
<label class="asian_hiro" for="asian_hiro">Hiro</label><br>
