{% if o_player %}
    <h4>Friends:</h4>
    <div class="friendGrid">
        {% for friend in friend_obj %}
            <div>
                <a class="friendLinkA clickable colorText" href="/Users/user_profile/{{ friend.id }}/">&emsp;{{ friend.username }}</a>
            </div>
        {% endfor %}
    </div>
{% else %}
{% if pending_obj.length > 0 %}
    <h4>Pending Friend Requests:</h4>
    <div class="friendGrid">
        {% for new_friends in pending_obj %}
            <div>
                <form action="process_friend" method="post">
                    {% csrf_token %}
                    <button class="friendLinkBtn clickable colorText" type="submit" name="userRedirect">&emsp;{{ new_friends.username }}</button>
                    <input type="hidden" id="curPendUserRequest" name="curUser" value="{{ user.username }}">
                    <input type="hidden" id="newPendFriendRequest" name="newFriend" value="{{ new_friends.username }}">
                    <button class="friendAcceptBtn friendBtn clickable" type="submit" name="pendAcceptBtn"
                            onclick="return confirm('Accept friend request from {{ new_friends.username }}?');"></button>
                    <button class="friendRejectBtn friendBtn clickable" type="submit" name="pendRejectBtn"
                            onclick="return confirm('Reject friend request from {{ new_friends.username }}?');"></button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endif %}
    <h4>Friends:</h4>
    <div class="friendGrid">
        <form action="send_friend_request" method="post">
            {% csrf_token %}
            <input type="hidden" id="curUserRequest" name="curUser" value="{{ user.username }}">
            <input id="newFriendRequest" class="newFriendRequest" name="newFriend" placeholder="Username">
            <button class="newFriendButton clickable" type="submit">Add Friend</button>
        </form>
        {% for friend in friend_obj %}
            <div>
                <form action="remove_friend" method="post">
                    {% csrf_token %}
                    <button class="friendLinkBtn clickable colorText" type="submit" name="userRedirect">&emsp;{{ friend.username }}</button>
                    <input type="hidden" name="curUser" value="{{ user.username }}">
                    <input type="hidden" name="newFriend" value="{{ friend.username }}">
                    <button class="friendRejectBtn friendBtn clickable" type="submit" name="friendRejectBtn"
                            onclick="return confirm('Remove friend: {{ friend.username }}?');"></button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endif %}
