{% extends "base_generic.html" %}
{% load static %}
{% block css %}
<link href="{% static 'css\profile.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="cardFilter">
    <form action="select_avatar" method="post">
        {% csrf_token %}
        {% if clearSearch %}
        <input name="avatarSearchTerm" type="text" value="{{ SearchTerm }}">
        {% else %}
        <input name="avatarSearchTerm" placeholder="Search" type="text">
        {% endif %}
        <input type="submit" onclick="show_page_load();" value="Search">
        {% if clearSearch %}
        <input name="clearSearch" type="submit" onclick="show_page_load();" value="Clear Search">
        {% endif %}
    </form>
</div>

{% include "./pager.html" %}
<div class="avatarGrid" id="avatarGrid">
    {% for card_obj in pages %}
    <div>
        <form action="save_avatar" method="POST">
            {% csrf_token %}
            <input name="curUser" type="hidden" value="{{ user_profile_obj.user.id }}">
            <input name="newAvatar" type="hidden" value="{{ card_obj.avatar_img }}">
            <button class="avatarBtn clickable" onclick="return confirm('Select avatar: {{ card_obj.name }}?');"
                    type="submit">
                <img alt="{{ card_obj.name }}" class="avatarImg" src="{{ card_obj.get_remote_avatar }}">
                <span class="cardObjText {{ should_translate }}">
                    {{ card_obj.name }}
                </span>
            </button>
        </form>
    </div>
    {% endfor %}
</div>

{% include "./pager.html" %}
{% endblock %}
