{% load replaceValues %}

{% if wishShow %}
<h4>Card Wish List</h4>
<div class="cardFilter">
    <form action="user_profile" method="post">
        {% csrf_token %}
        {% if clear_wish_search %}
        <input class="{{ font_family }}" name="searchWishTerm" type="text" value="{{ search_wish_term }}">
        {% else %}
        <input class="{{ font_family }}" name="searchWishTerm" placeholder="Search" type="text">
        {% endif %}
        <input class="{{ font_family }}" name="searchWish" type="submit" value="Search">
        {% if clear_wish_search %}
        <input class="{{ font_family }}" name="clearWishSearch" type="submit" value="Clear Search">
        {% endif %}
    </form>
</div>

{% include "./wishPager.html" %}
<table class="cardTable" id="cardGrid">
    <tr>
        <td>Name</td>
        <td>Mana Cost</td>
    </tr>
    {% for card_obj in cardWishPager %}
    <tr>
        <td>
            {{ card_obj.name }}
        </td>
        <td>
            {{ card_obj.manaCost|replaceMana|safe }}
        </td>
        <td>
            <a class="cardDirection" href="/Collection/Card/{{ card_obj.cardID_id }}/">
                <img alt="Avatar" class="smallCardImg" src="{{ card_obj.avatarImg }}">
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% include "./wishPager.html" %}
{% endif %}