{% if cardWishPager.has_other_pages %}
  <div class="pagination">
    {% if cardWishPager.has_previous %}
      <span class="pages"><a class="pageLinks" href="?deckPage={{ deckPage }}&cardPage={{ cardPage }}&cardWishPage=1">&#60;&#60;</a></span>
      <span class="pages"><a class="pageLinks" href="?deckPage={{ deckPage }}&cardPage={{ cardPage }}&cardWishPage={{ cardWishPager.previous_page_number }}">&#60;</a></span>
    {% else %}
      <span class="disabled pages"><span>&#60;&#60;</span></span>
    {% endif %}
    {% for i in cardWishPager.paginator.page_range %}
      {% if i >= cardWishPager.number|add:-3 and i <= cardWishPager.number|add:3 %}
        {% if cardWishPager.number == i %}
          <span class="pages"><span class="active">{{ i }}</span></span>
        {% else %}
          <span class="pages"><a class="pageLinks" href="?deckPage={{ deckPage }}&cardPage={{ cardPage }}&cardWishPage={{ i }}">{{ i }}</a></span>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if cardWishPager.has_next %}
      <span class="pages"><a class="pageLinks" href="?deckPage={{ deckPage }}&cardPage={{ cardPage }}&cardWishPage={{ cardWishPager.next_page_number }}">&#62;</a></span>
      <span class="pages"><a class="pageLinks" href="?deckPage={{ deckPage }}&cardPage={{ cardPage  }}&cardWishPage={{ cardWishPager.paginator.num_pages }}">&#62;&#62;</a></span>
    {% else %}
      <span class="disabled pages"><span>&#62;&#62;</span></span>
    {% endif %}
  </div>
{% endif %}