.cardImg{

}
.cardGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.cardDirection{
    color: white;
    text-decoration: none;
}

    .cardObj{
        margin-top: 8px;
        vertical-align: middle;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 23px;
        transition: 0.3s;
    }

        .cardObj:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .cardObjText {
            padding: 2px 16px;
        }

        .cardImg{
            border-radius: 23px;
            border-color: white;
            border-style: solid;
            width: 95%;
            height: auto;
        }

   .cardImages{
   }