.advFilterA{
    font-size: 12px;
    text-decoration: none !important;
}

.setSearchCheckBoxes{
    column-count: 8;
    list-style-type: none;
}

.deckAdvFilter{
    display: none;
}

.manaSearchCheckBoxes{
    column-count: 7;
    list-style-type: none;
}

.manaSearchSymbols{
    height: 20px;
    max-width: 20px;
}

.deck_image{
    max-height: 100px;
}

.deckGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}

.deckObj {
    width: 175px;
    margin-top: 15px;
    vertical-align: middle;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 23px;
    padding: 10px;
    text-transform: capitalize;
}

.deckDirection {
    color: white;
    text-decoration: none;
}

.deckHead {
    display: grid;
    grid-template-columns: 150px auto;
    column-gap: 2%;
    row-gap: 20px;
    grid-auto-rows: minmax(min-content, max-content);
    text-transform: capitalize;
}


.CommanderObj {
    width: 60%;
    margin-top: 8px;
    max-width: 325px;
}

.CommanderImg {
    border-radius: 23px;
    border-color: white;
    border-style: solid;
    width: 90%;
    max-width: 350px;
    min-width: 200px;
}



.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}

.cardDirection {
    color: white;
    text-decoration: none;
}

.cardObj {
    width: 200px;
    margin-top: 8px;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 23px;
    transition: 0.3s;
}

.cardObjText {
    padding: 2px 16px;
}

.cardImg {
    border-radius: 23px;
    border-color: white;
    border-style: solid;
    width: 95%;
    height: auto;
}

@media screen and (min-width: 1000px) {
.DeckBody {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    row-gap: 20px;
}
.CommanderObj {
    float: right;
}
.CommanderHr {
    display: none;
}
}

.card_display{
    display: grid;
    grid-template-columns: auto 250px;
    column-gap: 20px;
    row-gap: 20px;
}

.deck_cards .side_cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}

.deck_cards{
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 1px;
    padding: 10px;
}

.deck_cards h3{
    margin: auto auto 20px auto;;
    text-align: center;
}

.deck_cards_inner{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}

.side_cards{
    margin: 10px auto;
    padding: 10px;
}

.side_cards h3{
    margin: auto auto 20px auto;;
    text-align: center;
}
