html{
    height: 100%;
    width: 100%;
    margin: 0;
}

.body_class{
    padding: 50px 50px 50px 50px;
}

.bodyContainer{
    overflow: hidden;
}

.show{
    display: block !important;
}

.alert{
    text-align: center;
    opacity: 70%;
    height: 30px;
    margin-bottom: 10px;
    line-height: 35px;
}

.successAlert{
    background: green;
}

.errorAlert{
    background: darkred;
}

.innerBody{
    overflow: hidden;
    padding: 30px;
    min-height: 500px;
}

.manaSymbol{
    width: 20px;
}

.smallManaSymbol{
    width: 13px;
}

.link_objs {
    color: white;
    text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, .0);
}

::-webkit-scrollbar-thumb {
  background: #8888886e;
}

::-webkit-scrollbar-thumb:hover {
  background: #8888886e;
}

.clickable{
    cursor: pointer;
}

.google_translate{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
}
